@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: arcade-bold;
  src: url("./assets/fonts/Acme-9-Regular-Bold.ttf");
}
@font-face {
  font-family: arcade-regular;
  src: url("./assets/fonts/Acme-9-Regular.ttf");
}
@font-face {
  font-family: arcade-strong;
  src: url("./assets/fonts/Acme-9-Regular-Bold-Xtnd.ttf");
}
@font-face {
  font-family: arcade-dates;
  src: url("./assets/fonts/Acme-9-Regular-Xtnd.ttf");
}
:root {
  font-family: arcade-bold, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: arcade-regular, sans-serif;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
strong{
  font-family: arcade-strong;
  font-size: 0.8rem;
}
.date {
  font-family: arcade-dates;
  /* font-size: 0.75rem; */
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
